<h1>Editing Item Basic</h1>

<%= render 'form', item_basic: @item_basic %>

<%= link_to 'Show', @item_basic, :class => 'btn btn-primary' %> |
<%= link_to 'Back', item_basics_path, :class => 'btn btn-secondary' %>
